#trigger-overlay {
	display: none;
}

#content {
	width: auto; 
	border: 0; 
	margin: 0 5%; 
	padding: 0; 
}

a:after {
    content: " (" attr(href) ") ";
}

@media print { 
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

#back-to-top {
	display: hidden;
}