body {
	overflow-x: hidden;
	color: #FFA0A0;
} 

a,
a:hover {
	color: #FFA0A0;
	opacity: 0.5;

}

/* theme colors */

.text-primary {
	color:#FFA0A0;
}

a.text-primary {
	color:#FFA0A0;
}

a.text-primary:hover {

}

.text-success {
	color:;
}

a.text-success {
	color:;
}

a.text-success:hover {

}

.text-info {
	color:;
}

a.text-info {
	color:;
}

a.text-info:hover {

}

.bg-primary {
	color:;
	background-color:#FFA0A0;
}

a.bg-primary:hover {
	background-color:;
}

.bg-success {
	color:;
	background-color:;
}

a.bg-success:hover {
	background-color:;
}

.bg-info {
	color:;
	background-color:;
}

a.bg-info:hover {
	background-color:;
}

header {

}

main {

}

footer {

}

/* toggle nav */

.toggle_nav {
	display: block;
	position: fixed;
	top: 40px;
	right: 60px;
	height: 45px;
	width: 45px;
	padding: 20px;
	z-index: 100;
	cursor: pointer;
	-webkit-transform: translateZ(0) rotate(0deg);
	transform: translateZ(0) rotate(0deg);
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	outline: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
}
